@import url('http://fonts.googleapis.com/css?family=Yeon+Sung|ZCOOL+QingKe+HuangYou&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

h1{
    text-align: center;
    margin: 12px 0;
}

.container{
    min-height: 75vh;
}

.container h1{
    font-family: 'ZCOOL QingKe HuangYou';
    margin: 30px 0;
}

.myInput{
    padding: 9px;
    margin: 6px;
    width: 45%;
    border: 2px solid rgb(191, 132, 132);
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 11px 18px;
    margin: 10px;
    background-color: red;
    color: white;
    border-radius: 7px;
    border: 2px solid red;
    cursor: pointer;
    outline: none;
    font-size: 14px;
}